{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz : {{ quiz.id }}</h1>
    <div class="row px-5">
        <div class="col-12 center py-3">Question : {{ quiz.question }}</div>
        <br />


        <form action="{{ path('app_quiz_mcq') }}" method="post" name="{{ quiz.id }}">
            <input name="id" value="{{ quiz.id }}" class="d-none">
            {% for answer in answers %}
                <div class="col-md-12 py-2 px-5">
                    <label>
                        <input name="{{ answer.id }}" id="{{ answer.id }}" type="checkbox" />  {{ answer.answer }}
                    </label>

                </div>
            {% endfor %}
            <div class="col-2"></div>

            <div class="col-md-3 mt-2">
                <button type="submit" class="btn btn-success">Send</button>
            </div>

        </form>
        <div class="col-7"></div>

        <div class="col-md-1 mt-3">
            <a href="{{ path('app_quiz_index') }}" class="btn btn-secondary">back to list</a>
        </div>
        <div class="col-md-1 mt-3">
            <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="btn btn-secondary">edit</a>
        </div>

    </div>

{% endblock %}
